@font-face {
font-family: itc;
src: url("itc.otf") format("opentype");
}
figure { width:84%; margin:0 0 3%;}
.vignette{
    margin:0 3% 3% 0;
    width:26%;
	/*height:auto;*/
}
@media screen and (max-width: 840px) {
.vignette{
    width:40.5%;
}
}
body {
	font-family: itc;
}
header h1{
	color:black;
	position:absolute;
	margin:0 0 0 30px;
	text-shadow: 1px 1px 0px #00c8ff,-1px -1px 0px #c600e7;
}
header{
	height:40px;
}
header p {
	text-transform:uppercase;
	color:#6e6e6e;
	margin-left:300px;
	display:inline;
	text-align:left;
	white-space:nowrap;
}
section{
	margin-left:300px;
	line-height: 0;
}

nav {
	float:left;
}
nav ul {
	padding:0;
	margin:0;
	line-height:150%;
}
nav ul li {
	display:block;
}
nav a {
	padding:0 10px 0 30px;
	text-decoration:none;
	color:black;
}
nav a.active{
	color:white;
	background:black;
	-moz-box-shadow: 1px 1px 0px 0px #00c8ff,-1px -1px 0px 0px #c600e7;
	-webkit-box-shadow: 1px 1px 0px 0px #00c8ff,-1px -1px 0px 0px #c600e7;
	-o-box-shadow: 1px 1px 0px 0px #00c8ff,-1px -1px 0px 0px #c600e7;
	box-shadow: 1px 1px 0px 0px #00c8ff,-1px -1px 0px 0px #c600e7;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#00c8ff, Direction=134, Strength=0);
}
body {
	border:0;
	margin:0;
}