.movie1{ 
	background-image:url("panthere.jpg");
}
.movie1 .customer:after{
	content:"Louis Vuitton";
}
.movie1 .title:before{
	content:"The Groom swiming in the clouds";
}
.blok:hover.movie1 .title:after{display:block;}
.blok.movie1{display:inline-block;}



.movie2{
	background-image:url("panthere.jpg");
}
.movie2 .customer:after{
	content:"Joe Bidwell";
}
.movie2 .title:before{
	content:"I love champs";
}
.blok:hover.movie2 .title:after{display:block;}
.blok.movie2{display:inline-block;}

