.movie1{ 
	background-image:url("heroes.jpg");
}
.movie1 .customer:after{
	content:"heroes in lockdown";
}
.movie1 .title:before{
	content:"heroes in lockdown";
}
.blok:hover.movie1 .title:after{display:block;}
.blok.movie1{display:inline-block;}

.movie2{ 
	background-image:url("clandestino.jpg");
}
.movie2 .customer:after{
	content:"manu chao";
}
.movie2 .title:before{
	content:"Clandestino";
}
.blok:hover.movie2 .title:after{display:block;}
.blok.movie2{display:inline-block;}



.movie3{ 
	background-image:url("dreamup.jpg");
}
.movie3 .customer:after{
	content:"Bnp Paribas";
}
.movie3 .title:before{
	content:"Dream Up";
}
.blok:hover.movie3 .title:after{display:block;}
.blok.movie3{display:inline-block;}



.movie4{ 
	background-image:url("groom peplum.jpg");
}
.movie4 .customer:after{
	content:"Louis Vuitton";
}
.movie4 .title:before{
	content:"The little groom is fighting in the arena";
}
.blok:hover.movie4 .title:after{display:block;}
.blok.movie4{display:inline-block;}



.movie5{
	background-image:url("groom western.jpg");
}
.movie5 .customer:after{
	content:"Louis Vuitton";
}
.movie5 .title:before{
	content:"the little groom in duel in the dust";
}
.blok:hover.movie5 .title:after{display:block;}
.blok.movie5{display:inline-block;}


.movie6{
	background-image:url("confrerie.jpg");
}
.movie6 .customer:after{
	content:"cinema";
}
.movie6 .title:before{
	content:"la confrérie des larmes";
}
.blok:hover.movie6 .title:after{display:block;}
.blok.movie6{display:inline-block;}



.movie7{
	background-image:url("groom swinging.jpg");
}
.movie7 .customer:after{
	content:"louis vuitton";
}
.movie7 .title:before{
	content:"the little groom is swinging in the clouds";
}
.blok:hover.movie7 .title:after{display:block;}
.blok.movie7{display:inline-block;}



.movie8{
	background-image:url("redjourney.jpg");
}
.movie8 .customer:after{
	content:"louis vuitton";
}
.movie8 .title:before{
	content:"red journey";
}
.blok:hover.movie7 .title:after{display:block;}
.blok.movie8{display:inline-block;}

