.movie1{
	background-image:url("bruel.jpg");
}
.movie1 .customer:after{
	content:"bruel/marin";
}
.movie1 .title:before{
	content:"le concert";
}
.blok:hover.movie1 .title:after{display:block;}
.blok.movie1{display:inline-block;}


.movie2{ 
	background-image:url("denis.jpg");
}
.movie2 .customer:after{
	content:"regis raffin";
}
.movie2 .title:before{
	content:"denis le zombie";
}
.blok:hover.movie2 .title:after{display:block;}
.blok.movie2{display:inline-block;}






