.movie1{ 
	background-image:url("veggies can kill.jpg");
}
.movie1 .customer:after{
	content:"ror";
}
.movie1 .title:before{
	content:"veggies can kill";
}
.blok:hover.movie1 .title:after{display:block;}
.blok.movie1{display:inline-block;}


.movie2{ 
	background-image:url("making of.jpg");
}
.movie2 .customer:after{
	content:"making of";
}
.movie2 .title:before{
	content:"making of";
}
.blok:hover.movie2 .title:after{display:block;}
.blok.movie2{display:inline-block;}



.movie3{ 
	background-image:url("hipsters must die.jpg");
}
.movie3 .customer:after{
	content:"ror";
}
.movie3 .title:before{
	content:"hipsters must die";
}
.blok:hover.movie3 .title:after{display:block;}
.blok.movie3{display:inline-block;}



.movie4{ 
	background-image:url("chirac.jpg");
}
.movie4 .customer:after{
	content:"archifau";
}
.movie4 .title:before{
	content:"chirac";
}
.blok:hover.movie4 .title:after{display:block;}
.blok.movie4{display:inline-block;}



.movie5{
	background-image:url("fillon.jpg");
}
.movie5 .customer:after{
	content:"archifau";
}
.movie5 .title:before{
	content:"fillon";
}
.blok:hover.movie5 .title:after{display:block;}
.blok.movie5{display:inline-block;}



.movie6{ 
	background-image:url("ferdinand.jpg");
}
.movie6 .customer:after{
	content:"eric mcfadden";
}
.movie6 .title:before{
	content:"where is ferdinand ?";
}
.blok:hover.movie6 .title:after{display:block;}
.blok.movie4{display:inline-block;}



.movie7{
	background-image:url("marner brown.jpg");
}
.movie7 .customer:after{
	content:"marner brown";
}
.movie7 .title:before{
	content:"sun don't shine";
}
.blok:hover.movie7 .title:after{display:block;}
.blok.movie7{display:inline-block;}



.movie8{
	background-image:url("marin.jpg");
}
.movie8 .customer:after{
	content:"charlotte marin";
}
.movie8 .title:before{
	content:"le plus beau jour de ma vie";
}
.blok:hover.movie8 .title:after{display:block;}
.blok.movie8{display:inline-block;}


.movie9{
	background-image:url("kish mauve.jpg");
}
.movie9 .customer:after{
	content:"kish mauve";
}
.movie9 .title:before{
	content:"matthew";
}
.blok:hover.movie9 .title:after{display:block;}
.blok.movie9{display:inline-block;}

